@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.semi-circle-r {
  height: 50px; /* Half of the width to make a semi-circle */
  border: 1px solid #d3d7da;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-left: 0;
}
.semi-circle-l {
  width: 30px;
  height: 50px; /* Half of the width to make a semi-circle */
  border: 1px solid #d3d7da;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border-right: 0;
}

.image-back {
  z-index: 0;
}
.contain-front {
  z-index: 1;
}
